[Unit]
Description=MLB LED Sign
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/mlb-sign
ExecStart=/usr/bin/node /home/pi/mlb-sign/dist/index.js
Restart=on-failure
RestartSec=10
User=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
